.product img {
    margin: 0 !important;
  }
  
  .product::before {
    content: "" !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    opacity: 0 !important;
    transition: opacity 0.3s ease !important;
  }
  
  .product:hover::before {
    opacity: 1 !important;
  }
  
  .product-details {
    box-shadow: 0px 4px 4px 0px #00000040 !important;
  }
  
  .elementor-element-7906c80c {
    min-height: 100vh;
    padding: 130px 100px;
  }
  
  .add_to_cart_button {
    display: none !important;
  }
  
  .product:hover .add_to_cart_button {
    display: flex !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    z-index: 3;
    width: 162px;
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 29.05% !important;
  }